@charset "utf-8";
.logo img {
	text-align: center;
	margin-left: 250px;
	padding-left: 400px;
	padding-right: 350px;

}
#navegation {
	text-align: center;
	text-decoration: none;
	font-family: artifika;
	font-style: normal;
	font-weight: 400;
	color: #050505;
	margin-bottom: 20px;
	margin-top: 20px;
	position: static;

}
.header.foto img {
	padding-left: 400px;
	padding-right: 350px;
	
}


#navegation a {
	color: #020202;
	font-family: artifika;
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
#navegation a:hover {
	background-color: antiquewhite
}
.body .misi {
	width: 370px;
	height: 250px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
.cuadro.amarillo {
	background-color: rgba(225,156,68,1.00);
	height: 250px; 
	width: 784px;
}
.cuadro.amarillo .conteem {
	width: 350px;
	height: 250px;
	float: left;
}


 



.cuadro.amarillo .burger {
	width: 350px;
	height: 190px;
	float: left;
}





.body .visi {
	width: 380px;
	height: 250px;
	float: left;
	padding-left: 10px;
	padding-right: 0px;
}
.cuadro.amarillo .burger {
	padding-left: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	float: left;
	margin-left: 20px;
}

/*
*/









#conte tex .bu {
	color: rgba(251,247,247,1.00);
	font-family: artifika;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}
tex .bu p {
	color: rgba(248,245,245,1.00);
	font-family: artifika;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}

.cuadro.amarillo {
	width: 780px;
	height: 250px;
	margin-left: 400px;
}
.cuadro.gris .contebur {
	width: 330px;
	height: 310px;
	float: left;
	padding-left: 55px;
	padding-right: 20px;
	padding-top: 30px;
}
.cuadro.gris {
	width: 780px;
	height: 365px;
	background-color: rgba(26,24,24,1.00);
	margin-left: 400px;
	
}
.pie {
	background-color: rgba(10,10,10,1.00);
	color: rgba(249,249,249,1.00);
	width: 780px;
	height: 110px;
	text-align: center;
	margin-left: 400px;
	position: absolute;
}
.pie p {
	padding-top: 30px;
}


body footer {
	width: 780px;
	height: 100px;
	margin-left: 400px;
	background-color: rgba(6,6,6,1.00);
}
body footer h3 {
	color: rgba(249,244,244,1.00);
	text-align: center;
	font-size: 13px;
}



.cuadro.gris .cuadroblan {
	width: 330px;
	height: 200px;
	color: rgba(252,248,248,1.00);
	text-align: center;
	float: left;
	padding-left: 30px;
	padding-top: 85px;
	padding-right: 10px;
}
.cuadro.gris .contebur .tex.b {
	color: rgba(247,240,240,1.00);
}



.cuadro.amarillo .conteem .email {
	background-color: rgba(249,242,242,1.00);
	color: rgba(22,21,21,1.00);
	padding-left: 10px;
	float: left;
	width: 200px;
	margin-top: 55px;
	margin-right: 20px;
	height: 50px;
}
.cuadro.amarillo .conteem .enviar {
	width: 80px;
	height: 30px;
	padding-bottom: 10px;
	background-color: rgba(247,239,239,1.00);
	color: rgba(245,81,7,1.00);
	text-align: center;
	float: left;
	margin-top: 60px;
}






.misi #Mision .ti {
	text-align: center;
	font-family: artifika;
	font-style: bold;
	font-weight: bold;
	font-size: 24px;
}
.misi #Mision .centr {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 16px;
	color: #0A0A0A;
	text-align: justify;
}





.body {
	height: 250px;
	width: 780px;
	padding-left: 400px;
	padding-top: 50px;
	padding-bottom: 50px;
}


.visi #Vision .vi {
	text-align: center;
	font-family: artifika;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
}
.visi #Vision .con {
	color: #060606;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 16px;
	text-align: justify;
}
